/*
 * Главный файл стилей.
 * Здесь подключаются функциональные стили (layout.css) и выбранная тема (theme-green.css или theme-dark.css).
 *
 * Для переключения темы:
 * Замените '@import url('theme-green.css');' на '@import url('theme-dark.css');'
 * или наоборот.
 */
@import url('layout.css');
@import url('theme-green.css');
